<section class="witchinghour contained">
  <h3>After the Witching Hour...</h3>
  <p>
    <span class="dropcap">A</span>fter the peak production period of witch films
    (1987&ndash;2011), the trends seem to change. In the last few years, the
    number of action-adventure witch films has flourished. Here we refer to
    <em>The Huntsman</em> films (Rupert Sanders, 2012; Cedric Nicolas-Troyan,
    2016), <em>Hansel and Gretel: Witch Hunters</em> (Tommy Wirkola, 2013), and
    <em>The Last Witch Hunter</em> (Breck Eisner, 2015). Alongside these, we see
    a resurgence of independent witch films, such as
    <em>The House of the Devil</em> (Ti West, 2009), <em>Antichrist</em> (Lars
    von Trier, 2009), <em>The Witch</em> (Roger Eggers, 2015), and
    <em>The Love Witch</em> (Anna Biller, 2016). The last two of these have
    received critical acclaim and suggest possible new watershed moments,
    although it is certainly too soon to tell. Nonetheless, they continue to
    rely on certain semantic elements, alongside the syntactics of the witch in
    American culture.
  </p>
  <p>
    In phase two of the Digital Witch Project, we expect to add complexity and
    detail to the project’s approach. First, we will run the rest of our corpus
    through SameDiff, accompanied by a further exploration of specific language
    use in the scripts using the language analysis tool Voyant. We will explore
    further the affordances of ImagePlot, while also considering other visual
    analysis tools. With another dimension of film in mind, we will search for
    sound analysis tools. Next, we will add data about each film's production
    company to see what patterns might emerge. Lastly, we will develop
    interactive graphs for our data to make them more readable and explorable.
  </p>
</section>
