<header>
  <nav>
    <a
      routerLink="/"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      >Main</a
    >
    <a routerLink="/workscited" routerLinkActive="active-link">Works Cited</a>
    <a
      href="https://digitalwitchproject.tumblr.com/"
      routerLinkActive="active-link"
      target="_blank"
      >Methods</a
    >
    <a routerLink="/figures" routerLinkActive="active-link">Figures</a>
    <a routerLink="/authors" routerLinkActive="active-link">Authors</a>
  </nav>
</header>
