<section class="contained hero">
  <div class="title-card">
    <h1 class="title">
      <span>Digital</span> Witch <span class="mobilebreak">Project</span>
    </h1>
    <div class="byline">
      <p>
        <span>Written by</span> Tess Henthorne, Bridget L. Sellers, and
        Elizabeth Crowley Webber.
      </p>
      <p><span>Visualizations by</span> Elizabeth Crowley Webber.</p>
      <p><span>Web Design by</span> Benjamin Liden.</p>
    </div>
  </div>
  <div class="abstract-card">
    <h3 class="abstract">Abstract</h3>
    <p>
      The general purpose of the Digital Witch Project is to create a
      methodology for understanding film genres and cycles using digital tools.
      Our specific goal is to investigate the dialogue and images of one
      critically understudied genre, witch films, and draw conclusions about the
      emergence of patterns and trends over time. The project has three stages:
      (1) identifying a corpus of witch films, (2) collecting data from that
      corpus on textual and visual similarities between films, and (3)
      visualizing and analyzing collected data. We employed
      <a href="https://databasic.io/en/samediff/" target="_blank">SameDiff</a> a
      textual comparison of dialogue in witch films and
      <a href="http://lab.softwarestudies.com/p/imageplot.html" target="_blank"
        >ImagePlot</a
      >
      for a visual comparison of theatrical posters and film stills. This
      investigation reveals prototypical films,
      <em>The Witches of Eastwick</em> and <em>The Craft</em>; cycles, including
      the <em>Harry Potter</em> franchise and the made-for-television witch film
      trend; and outliers, including
      <em>Snow White and the Seven Dwarfs</em> and
      <em>The Blair Witch Project</em>. In all, we hope this study sparks more
      conversations on the complex inner workings of genre film production,
      capitalism, and the tradition of co-opting witchcraft—a symbol of import
      to various marginalized cultures—within U.S. film and media.
    </p>
  </div>
</section>
