/* COLOR VARS */

:root {
    --chart-red: #c84b40;
    --chart-red-darker: #993931;
    --chart-blue: #41788e;

    --main-font-900: #212121;
    --main-font-800: #424242;
    --main-font-700: #757575;

    font-size: 16px;
}

/* FONT IMPORTS */

@font-face {
    font-family: 'Codystar';
    src:    url('../../node_modules/typeface-codystar/files/codystar-latin-300.woff2') format('woff2'),
            url('../../node_modules/typeface-codystar/files/codystar-latin-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('../../node_modules/typeface-lora/files/lora-latin-400.woff2') format('woff2'),
         url('../../node_modules/typeface-lora/files/lora-latin-400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('../../node_modules/typeface-lora/files/lora-latin-400italic.woff2') format('woff2'),
         url('../../node_modules/typeface-lora/files/lora-latin-400italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src:    url('../../node_modules/typeface-lato/files/lato-latin-400.woff2') format('woff2'),
            url('../../node_modules/typeface-lato/files/lato-latin-400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* ANIMATIONS */

@keyframes titlefadein {
    from {
        opacity: 0;
        margin-left: 10rem
    }
    to {
        opacity: 1;
        margin-left: 0rem;
    }
}

/* GENERAL STYLES */

html {
    font-family: 'Lora', serif;
    color: var(--main-font-900);
    line-height: 2;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

h3 {
    color: var(--chart-red-darker);
}

em {
    font-style: italic;
}

a {
    transition: .75s all;
    text-decoration: none;
    border-bottom: 1px dashed var(--chart-red);  
    color: var(--chart-red);  
}

a:hover {
    color: var(--chart-red-darker);
    border-bottom: 1px solid var(--chart-red-darker);
}

a:visited {

}

.contained {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

section {
    margin-top: 5rem;
}

.witchesgenrescycles, .projectsonfilm {
    border-top: 1px dashed var(--main-font-900);
}

.dropcap {
    float: left;
    font-family: 'Codystar';
    font-size: 6rem;
    line-height: 5rem;
    padding: 6px 8px 0 4px;
}

blockquote {
    border-left: 1px dashed var(--main-font-900);
    padding-left: 1rem;
}

/* HEADER STYLES */

header {
    /* padding-top: 2rem; */
    position: absolute;
    top: 2rem;
    right: 1rem;
    left: 50%;
}

nav {
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

nav a {
    display: inline;
    margin-right: 2rem;
    color: var(--main-font-700);
    border-bottom: 1px solid var(--main-font-700);
}

nav a:hover {
    border-bottom: 1px dashed var(--chart-red-darker)
}

/* HERO STYLES */

.hero {
    /* height: 87%; */
    /* margin-top: 3%; */
}

.title-card {
    /* max-width: 800px; */
    /* line-height: 1.15; */

    animation-name: titlefadein;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: .25s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.title {
    font-family: 'Codystar', sans-serif;
    font-weight: 300;
    font-size: 7rem;
    letter-spacing: .5rem;
    line-height: 1.15;
    margin: 0;
    padding: 1rem 0;
}

.title span {
    display: block;
}

.byline {
    padding-left: 2rem;
    line-spacing: 1.8;
}

.byline span {
    font-style: italic;
}

.byline p {
    margin: 0;
}

.abstract-card {
    line-height: 1.8;
    margin-top: 5%;
}

.abstract-card p {
    padding-left: 2rem;
}

@media screen and (max-width: 950px) {
    .title {
        font-size: 5rem;
        overflow: hidden;
    }
    .byline {
        max-width: 75%;
    }

}

/* SCROLL SPECIFIC CSS */

#scroll {
    position: relative;
    border-top: 1px dashed var(--main-font-900);
    border-bottom: 1px dashed var(--main-font-900);
}

.scroll__text {
    /* IMPORTANT TO LAY ON TOP OF GRAPHIC */
    position: relative; 

    padding: 0 1rem;
    max-width: 30rem;

    padding: 10% 0 0 5%;
    transition: .3s filter;
}

.step {
    opacity: .3;
    transition: all 1.5s;
}

.step.is-active {
    opacity: 1;
}

.scroll__graphic {
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    width: 100%;
    /* padding: 2rem; */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.scroll__graphic.is-fixed {
    position: fixed;
}

.scroll__graphic.is-bottom {
    bottom: 0;
    top: auto;
}

.scroll__graphic .preview {
    position: absolute;
    right: 3rem;
    top: 3rem;
}

.preview {
    width: 50%;
    height: 50%;
    border: 1px dashed black;
    background-color: #7575;
}

.scroll__graphic .chart {
    position: absolute;
    /* right: 5%; */
    right: 1rem;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: .3s filter, .3s opacity;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* .scroll__graphic .chart img {
    border: 3px solid rgba(0, 0, 0, .2);
    padding-right: 10px;
    transition: .3s opacity,
                .3s filter;
} */

.blurry {
    filter: blur(20px);
    opacity: .5;
}

.driftImg {
    transition: 1s all ease-out;
    opacity: 0;
    visibility: hidden;
    display: none;
    max-width: 95%;
    max-height: 40%;
    width: auto;
    height: auto;

    border: 3px solid rgba(0, 0, 0, .2);
    padding-right: 10px;
}

.driftImg.is-active {
    opacity: 1;
    visibility: visible;
    display: block;
}

.driftImg.imageplot {
    /* max-height: 30%;
    max-width: 30%;
    padding: 5px; */

    max-height: 60%;
    max-width: 80%;
    padding: 5px;

    background: rgba(0, 0, 0, .05);
}

.driftImg.boxOffice {
    max-height: 60%;
    max-width: 80%;
}

/* FULL OPACITY ON PRINT */
@media print {
    .step {
        opacity: 1;
    }
}

/* ACKNOWLEDGEMENTS */

.acknowledgements {
    margin: 5rem auto;
    max-width: 600px;
}

/* FOOTNOTE POPUP CSS */

.footnote {
    position: relative;
    /* display: inline-block; */
    cursor: help;
    /* border-bottom: 1px dotted var(--main-font-900); */

    color: var(--chart-blue);
    border-bottom: 1px solid var(--chart-blue);
}

.footnote .footnotetext {
    visibility: hidden;
    background-color: var(--main-font-800);
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: .5rem 1rem;
 
    /* Positioning for citation */
    position: absolute;
    z-index: 1;
    opacity: 0;

    top: 125%;
    left: 25%;
    width: 360px;

    /* quarter of width: */
    margin-left: -90px;
    transition: .5s all;
}

.footnote:hover .footnotetext {
    visibility: visible;
    opacity: 1;
}

.footnote .footnotetext::after {
    z-index: 1;
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 25%;
    margin-left: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}