<section class="contained projectsonfilm">
  <h3>Digital Humanities Projects on Film</h3>
  <p>
    <span class="dropcap">W</span>e seek to position this project within a
    network of burgeoning scholarship on the digital analysis of film. With the
    onset of data mining digital humanities projects, we are now equipped with
    the tools for studying large-scale textual and visual trends more
    efficiently.
    <a href="http://moviesincolor.com/" target="_blank">Movies in Color</a>
    analyzes the usage of color in film using color drop tools; the in-progress
    project
    <a href="https://www.distantviewing.org/" target="_blank"
      >Distant Viewing</a
    >
    takes on the movement of images;
    <a
      href="https://www.ims.tuwien.ac.at/projects/digital-formalism"
      target="_blank"
      >Digital Formalism</a
    >
    examines visual elements of film to consider how formal techniques
    contribute to overall narrative structures. The tool
    <a href="http://www.scripthreads.org" target="_blank">ScripThreads</a>
    identifies patterns of character interactions in screenplays. Meanwhile,
    projects from <em>The Pudding</em>, such as
    <a href="https://pudding.cool/2017/03/film-dialogue/" target="_blank"
      >“Film Dialogue from 2,000 Screenplays, Broken Down by Gender and Age”</a
    >
    and
    <a href="https://pudding.cool/2017/03/bechdel/" target="_blank"
      >“Hollywood’s Gender Divide and Its Effect on Films,”</a
    >
    rely strictly on text mining and lack scholarly rigor.
  </p>
  <p>
    Finding throughlines and divergences in thousands of hours of footage is
    possible in ways that it hasn’t been before, but methodologies for this have
    not yet been developed or tested. Considering that films are multimodal by
    design, telling and showing stories through sound, visual, narrative, and
    spectacle, the fact that all prior projects have stuck to either the text or
    the visual component of films elides the reality of the cinematic form. This
    is where our project hopes to intervene, first by doing a combined digital
    analysis of both dialogue and visuals, with long term goals of incorporating
    sound and moving images. At its core, this project is an experiment that
    uses digital tools in order to understand film genre and cycles.
  </p>
</section>
