<app-jumbo-title></app-jumbo-title>

<app-section _title="Witches, Genres, Cycles" classes="witchesgenrescycles">
  <p>
    <span class="dropcap">G</span>enre films have familiar narratives,
    characters, and aesthetics. An extraterrestrial invades Earth. A slasher
    slowly kills off a group of teenagers until one final girl escapes. A lone
    outlaw rides off into the sunset. These patterns are a way for Hollywood to
    capitalize on the popularity of one film, turning it into a modular and
    repeatable type, a generic formula. While there is an overwhelming amount of
    research on certain film genres, a number of others remain critically
    understudied. Our research aims to establish a method for the digital
    analysis of one corpus of understudied genre films, witch films—a genre
    that, according to critic Sarah Ward, pivots on the tension between
    oppositions to normality and structures of power (41).
  </p>
  <p>
    Ward argues that “as a term, a practice and a label commonly denouncing
    spiritual activities that defy dominant beliefs, witchcraft comes to the
    screen loaded with meaning” (35). Although witches figure in almost every
    society across the globe, they occupy a unique space in American culture and
    history. From “witch trials” during the early colonial period to the
    present-day politicized “witch-hunts,” America has obsessed over witches for
    centuries. Culturally, the witch has been bound up in America’s tumultuous
    relationships with religion, gender, and sexuality. Scholars tie popular
    witch media to their corresponding historical moments, particularly moments
    of unrest and paranoia—for example, one cannot extricate Arthur Miller’s
    play <em>The Crucible</em> (1953) from McCarthyism, nor can one detach
    <em>Rosemary’s Baby</em> (Roman Polanski, 1968) from the political unrest of
    the 1960s (Ward 37-40). When witchcraft became aligned with the women’s
    liberation movement in the 1970s, interest in and media representations of
    witches boomed (Foltz). After this influx of interest, images of witches
    appear more domesticated.
  </p>

  <p>
    There have been few comprehensive studies of the witch film despite the
    longevity of the genre, which began with the U.S. release of the silent film
    <em>Häxan</em> in 1929 (Benjamin Christensen). As popular culture tamed the
    witch, from violent or sexual threats to domesticated, loving, hard-working
    women of capitalism, witch comedies began to appear (Gibson 184). ABC’s
    <em>Bewitched</em> (1964&ndash;1972) set a precedent for the Disney-TV trend
    toward light-hearted witch series and movies.
    <em>Sabrina the Teenage Witch</em> aired on ABC from 1996 to 2000 (before
    moving to the WB from 2000–2003). <em>Halloweentown</em> (Duwayne Dunham
    1998) was the first in a cycle of Disney Channel Original Movies about
    witches. Meanwhile, the slightly darker
    <em>Buffy the Vampire Slayer</em> (1997–2003) and
    <em>Charmed</em> (1998–2006), which were a mix of comedy, horror, and teen
    drama, aired on the WB. Concurrent horror films such as
    <em>The Blair Witch Project</em> (Daniel Myrick & Eduardo Sanchez, 1999),
    and <em>The Conjuring</em> (James Wan, 2013) recall the fear of difference
    that buoyed early representations of witches. The teen horror film
    <em>The Craft</em> (Andrew Fleming, 1996) reflects both a potential for
    liberation and regulation bound up in witchcraft. Sue Short, writing of
    <em>The Craft</em>, notes the female characters’ willingness to accept their
    status as outsiders and in fact embracing their exile as an “alternative to
    existing norms” (105). Of course, in the end only one member of
    <em>The Craft</em> coven—the most “normal” among the four teenage
    girls—remains empowered. These film and television trends reflect a period
    of the mass production of witch films, from the release of
    <em>The Witches of Eastwick</em> (George Miller) in 1987 to the release of
    <em>Harry Potter and the Deathly Hallows: Part Two</em> (David Yates) in
    2011.
  </p>
  <p>
    In 1973, Andrew Tudor centered sociological and psychological context in his
    definition of genre, arguing that genre is “what we collectively believe it
    to be” (139). That is, genre “is not a way in which a critic classifies
    films for methodological purposes, but the much looser way in which an
    audience classifies its films” (145). While scholars and fans widely label
    witch films as such, what allows us to come to this agreement is much more
    complex than simply pointing to commonalities. In short, a genre is defined
    and created by cultural consensus. “Like film genres,” Amanda Klein writes,
    “film cycles are a series of films associated with each other through shared
    images, characters, settings or themes” (4). She goes on to establish the
    difference between genre and cycle:
  </p>
  <blockquote>
    However, while film genres are primarily defined by the repetition of key
    images (their semantics) and themes (their syntax), film cycles are
    primarily defined by how they are used (their pragmatics). In other words,
    the formation and longevity of film cycles are a direct result of their
    immediate financial viability as well as the public discourses circulating
    around them, including film reviews, director interviews, studio-issued
    press kits, movie posters, and theatrical trailers. (4)
  </blockquote>
  <p>
    The center of film cycles are studios’ attempts to cater to audience desires
    and expectations. If an audience enjoys a film (i.e., if a film earns a
    studio impressive returns at the box office or garners fan attention), the
    studio will copy some or all of it (e.g., the semantics or syntax) and graft
    these elements onto a new film. Cycles are about films’ use-value and
    profitability; these are commodities, usually produced as quickly as
    possible. While cycles and genre function differently for our discussion of
    witch films, both are crucial for understanding how generic formulas reflect
    both audience and studio demands.
  </p>
</app-section>

<app-section
  _title="Digital Humanities Projects On Film"
  classes="projectsonfilm"
>
  <p>
    <span class="dropcap">W</span>e seek to position this project within a
    network of burgeoning scholarship on the digital analysis of film. With the
    onset of data mining digital humanities projects, we are now equipped with
    the tools for studying large-scale textual and visual trends more
    efficiently.
    <a href="http://moviesincolor.com/" target="_blank">Movies in Color</a>
    analyzes the usage of color in film using color drop tools; the in-progress
    project
    <a href="https://www.distantviewing.org/" target="_blank"
      >Distant Viewing</a
    >
    takes on the movement of images;
    <a
      href="https://www.ims.tuwien.ac.at/projects/digital-formalism"
      target="_blank"
      >Digital Formalism</a
    >
    examines visual elements of film to consider how formal techniques
    contribute to overall narrative structures. The tool
    <a href="http://www.scripthreads.org" target="_blank">ScripThreads</a>
    identifies patterns of character interactions in screenplays. Meanwhile,
    projects from <em>The Pudding</em>, such as
    <a href="https://pudding.cool/2017/03/film-dialogue/" target="_blank"
      >“Film Dialogue from 2,000 Screenplays, Broken Down by Gender and Age”</a
    >
    and
    <a href="https://pudding.cool/2017/03/bechdel/" target="_blank"
      >“Hollywood’s Gender Divide and Its Effect on Films,”</a
    >
    rely strictly on text mining and lack scholarly rigor.
  </p>
  <p>
    Finding throughlines and divergences in thousands of hours of footage is
    possible in ways that it hasn’t been before, but methodologies for this have
    not yet been developed or tested. Considering that films are multimodal by
    design, telling and showing stories through sound, visual, narrative, and
    spectacle, the fact that all prior projects have stuck to either the text or
    the visual component of films elides the reality of the cinematic form. This
    is where our project hopes to intervene, first by doing a combined digital
    analysis of both dialogue and visuals, with long term goals of incorporating
    sound and moving images. At its core, this project is an experiment that
    uses digital tools in order to understand film genre and cycles.
  </p>
</app-section>

<app-scroller></app-scroller>

<app-section _title="After the Witching Hour..." classes="witchinghour">
  <p>
    <span class="dropcap">A</span>fter the peak production period of witch films
    (1987&ndash;2011), the trends seem to change. In the last few years, the
    number of action-adventure witch films has flourished. Here we refer to
    <em>The Huntsman</em> films (Rupert Sanders, 2012; Cedric Nicolas-Troyan,
    2016), <em>Hansel and Gretel: Witch Hunters</em> (Tommy Wirkola, 2013), and
    <em>The Last Witch Hunter</em> (Breck Eisner, 2015). Alongside these, we see
    a resurgence of independent witch films, such as
    <em>The House of the Devil</em> (Ti West, 2009), <em>Antichrist</em> (Lars
    von Trier, 2009), <em>The Witch</em> (Roger Eggers, 2015), and
    <em>The Love Witch</em> (Anna Biller, 2016). The last two of these have
    received critical acclaim and suggest possible new watershed moments,
    although it is certainly too soon to tell. Nonetheless, they continue to
    rely on certain semantic elements, alongside the syntactics of the witch in
    American culture.
  </p>
  <p>
    In phase two of the Digital Witch Project, we expect to add complexity and
    detail to the project’s approach. First, we will run the rest of our corpus
    through SameDiff, accompanied by a further exploration of specific language
    use in the scripts using the language analysis tool Voyant. We will explore
    further the affordances of ImagePlot, while also considering other visual
    analysis tools. With another dimension of film in mind, we will search for
    sound analysis tools. Next, we will add data about each film's production
    company to see what patterns might emerge. Lastly, we will develop
    interactive graphs for our data to make them more readable and explorable.
  </p>
</app-section>

<app-section _title="Acknowledgements" classes="acknowledgements">
  <p>
    We would like to thank the following individuals for their feedback and
    support: Amanda Phillips, Megan Martinsen, Melissa Jones, Matt Pavesich, and
    Caetlin Benson-Allott.
  </p>
</app-section>
